[Unit]
Description=Ansible Pull Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User={{ ansible_pull_user }}
Environment="ANSIBLE_PULL_REPO_URL={{ ansible_pull_repo_url }}"
Environment="ANSIBLE_PULL_PLAYBOOK={{ ansible_pull_playbook }}"
Environment="ANSIBLE_PULL_INVENTORY={{ ansible_pull_inventory }}"
Environment="ANSIBLE_PULL_WORKDIR={{ ansible_pull_workdir }}"
Environment="ANSIBLE_PULL_TARGET={{ inventory_hostname }}"
ExecStart=/bin/bash {{ ansible_pull_workdir }}/ansible/scripts/ansible-pull.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
