[Unit]
Description=Run Devcontainer Prebuild nightly
Requires=devcontainer-build.service

[Timer]
OnCalendar={{ devcontainer_prebuild_calendar }}
Persistent=true
Unit=devcontainer-build.service

[Install]
WantedBy=timers.target
