[Unit]
Description=Devcontainer Prebuild Service
After=docker.service maintenance-docker.service
Requires=docker.service

[Service]
Type=oneshot
User={{ devcontainer_prebuild_user }}
ExecStart={{ devcontainer_prebuild_script }}
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
