---
# Tasks for Chezmoi role
- name: Check if Chezmoi is already installed
  stat:
    path: "{{ chezmoi_install_path }}"
  register: chezmoi_binary

- name: Download Chezmoi binary
  get_url:
    url: "{{ chezmoi_binary_url }}"
    dest: "{{ chezmoi_install_path }}"
    mode: '0755'
  when: not chezmoi_binary.stat.exists

- name: Verify Chezmoi installation
  command: "{{ chezmoi_install_path }} --version"
  register: chezmoi_version_output
  changed_when: false

- name: Display Chezmoi version
  debug:
    msg: "Chezmoi version: {{ chezmoi_version_output.stdout }}"

- name: Get home directory for chezmoi_user
  getent:
    database: passwd
    key: "{{ chezmoi_user }}"
  register: getent_passwd
  when:
    - chezmoi_user is defined
    - chezmoi_repo_url | length > 0
    - chezmoi_init_apply

- name: Initialize Chezmoi with dotfiles repository
  become: true
  become_user: "{{ chezmoi_user }}"
  command: "{{ chezmoi_install_path }} init {{ chezmoi_repo_url }}"
  args:
    creates: >-
      {{ getent_passwd.ansible_facts.getent_passwd[chezmoi_user][4] }}/
      .local/share/chezmoi/.git
  when:
    - chezmoi_user is defined
    - chezmoi_repo_url | length > 0
    - chezmoi_init_apply
    - getent_passwd is defined
    - getent_passwd is succeeded
    - getent_passwd is not skipped

- name: Apply Chezmoi dotfiles
  become: true
  become_user: "{{ chezmoi_user }}"
  command: "{{ chezmoi_install_path }} apply"
  when:
    - chezmoi_user is defined
    - chezmoi_repo_url | length > 0
    - chezmoi_init_apply
  register: chezmoi_apply
  changed_when: chezmoi_apply.stdout | length > 0
