---
# Tasks for Docker Compose Modules role
- name: Ensure base compose directory exists
  ansible.builtin.file:
    path: "{{ compose_modules_base_dir }}"
    state: directory
    mode: '0755'

- name: Deploy compose modules
  ansible.builtin.include_tasks: "deploy_module.yml"
  loop: "{{ compose_modules }}"
  loop_control:
    loop_var: module_name
  when: compose_modules | length > 0
