[Unit]
Description=Daily Maintenance - Non-disturbing OS Updates
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/ansible-playbook \
  {{ maintenance_workdir }}/ansible/playbooks/maintenance-daily.yml \
  --inventory {{ maintenance_workdir }}/ansible/inventory/hosts.yml \
  --extra-vars "target_host={{ ansible_hostname }}"
StandardOutput=journal
StandardError=journal
SyslogIdentifier=maintenance-daily
