[Unit]
Description=Weekly Maintenance Timer
Requires=maintenance-weekly.service

[Timer]
OnCalendar={{ maintenance_weekly_schedule }}
RandomizedDelaySec=5min
Persistent=true

[Install]
WantedBy=timers.target
